.leader-board{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    h3{
        font-size: 3.2rem;
        color: $blackColor;
        font-weight: 700;
        margin-bottom: 20px;
        text-transform: capitalize;
        text-align: left;
    }
    .leader-board_card{
        height: 60px;
        width: 100%;
        background: #FFFFFF;
        box-shadow: 2px 4px 60px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        margin-bottom: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px;
        position: relative;
        .leaderBoard-card_info{
            display: flex;
            align-items: center;
            .person-image{
                width: 40px;
                height: 40px;
                border: 2px solid #FFFFFF;
                box-sizing: border-box;
                filter: drop-shadow(0px 6px 30px rgba(0, 0, 0, 0.15));
                margin-right: 8px;
                border-radius: 50%;
            }
            .person-name{
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 18px;
                color: #000000;
                display: inline-block;
                margin-right: 8px;
            }
            .rate-image{
                width: 15px;
                height: 20px;
            }
        }
        .person-score{
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 18px;
            color: #185ADB;
            .num{
                padding-right: 4px;
                font-weight: 600;
            }
        }
    }
}